<div class="section-container">
  <section class="about" id="about">
    <h2 class="heading">
      Обо
      <span>мне</span>
      <span class="animate scroll" style="--i: 1;"></span>
    </h2>
    <div class="about-img">
      <img src="./assets/images/avatar.png" alt="" />
      <span class="circle-spin"></span>
      <span class="animate scroll" style="--i: 2;"></span>
    </div>
    <div class="about-content">
      <h3>Solution Architect!
        <span class="animate scroll" style="--i: 3;"></span>
      </h3>
      <p>
        Меня зовут Евгения Умен, я Архитектор. Я работаю в домене прикладных ИС
        и в домене данных. Архитектура - мое призвание, и я верю, что
        архитектура - это не просто схемы в среде проектирования, эта большая
        абстракция в голове творца, которая просто обязана, наравне с личностью
        архитектора, вдохновлять талантливых людей на командную эффективную
        работу. Я верю также, что архитектурное мышление это не просто что-то
        про highload, это мышление о болях и мечтах заказчика, это поиск
        компромисса между лучшим и доступным уже сейчас. Каждый проект -
        источник экспертизы и повод углубить экспертизу в предметной области.
        Если вы еще думаете - можете просто написать мне свой вопрос или
        позвонить. Я всегда за интересные вызовы.
        <span class="animate scroll" style="--i: 4;"></span>
      </p>
      <div class="btn-box btns">
        <a href="#contact" class="btn">Связаться </a>
        <span class="animate scroll" style="--i: 5;"></span>
      </div>
    </div>
  </section>
</div>