<div class="contact-success-modal-container" style="display: none;">
  <div class="contact-success-modal">
    <div class="contact-success-modal-text">Ваше сообщение отправлено!</div>
    <div class="contact-success-modal-btn-container btn-box">
      <button class="btn">ОК</button>
    </div>
  </div>
</div>