<header class="header">
  <a href="#" class="logo">Umen.
    <span class="animate" style="--i: 1;"></span>
  </a>
  <div class="bx bx-menu" id="menu-icon">
    <span class="animate" style="--i: 2;"></span>
  </div>
  <nav class="navbar">
    <a href="#home" class="active">Главная</a>
    <a href="#about">Обо мне</a>
    <a href="#education">Мой трек</a>
    <a href="#skills">Скиллы</a>
    <a href="#contact">Контакты</a>

    <span class="active-nav"></span>
    <span class="animate" style="--i: 2;"></span>
  </nav>
</header>