<div class="footer-container">
  <footer class="footer">
    <div class="footer-text">
      <p>Copyright &copy;
        <span class="footer-year-text" style="color: unset">2023</span>
      </p>
    </div>
    <div class="footer-iconTop">
      <a href="#"><i class="bx bxs-up-arrow-alt"></i></a>
    </div>
  </footer>
</div>