<!DOCTYPE html>
<html> 
  <head>
    <script defer src="./assets/script/script.js"></script>
    <script defer src="./assets/script/contact.js"></script>
    <script defer src="./assets/script/footer.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    {{> header}}
    {{> home}}
    {{> about}}
    {{> education}}
    {{> skills}}
    {{> contact}}
    {{> contact-success-modal}}
    {{> footer}}
  </body>
</html>